#balloon .balloon{
    border: 1px solid #888888;
    box-shadow: 2px 2px 4px -1px #666666;
    position: relative;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    margin-top:10px;
}
#balloon .balloon-inner {
    background: none repeat scroll 0 0 #FEFFFF;
    padding: 5px;
    position: relative;
    height: 20px;
    z-index: 1;
    border-radius: 5px;
}
#balloon .skew {
    border-color: #888888 transparent;
    border-style: solid;
    left: 4px;
    position: absolute;
    border-width: 8px 8px 0;
    top: 29px;
}
#balloon .skew:after {
    border-color: #FFFFFF transparent;
    border-style: solid;
    content: "";
    position: absolute;
    border-width: 8px 8px 0;
    left: -8px;
    top: -9px;
}