#question-mark {
    background: #F0F0F0;
    height: 200px;
}
#question-mark .circle{
    width: 60px;
    height: 60px;
    position: absolute;
    border-color: #4169E1;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 20px;
}
#question-mark .slit{
    background: none repeat scroll 0 0 transparent;
    border-color: transparent #F0F0F0 transparent transparent;
    border-style: solid;
    border-width: 30px 60px 30px 10px;
    bottom: -30px;
    height: 0;
    left: -41px;
    position: absolute;
    width: 0;
}
#question-mark .bar {
    height: 110px;
    left: 35%;
    position: absolute;
    top: 100%;
    width: 20px;
}
#question-mark .bar-inner {
    background: none repeat scroll 0 0 #4169E1;
    height:70px;
    border-radius: 10px 5px 7px 7px;
}
#question-mark .small-circle{
    background: none repeat scroll 0 0 #4169E1;
    border-radius: 50% 50% 50% 50%;
    bottom: 0;
    height: 30px;
    left: -5px;
    position: absolute;
    width: 30px;
}
#question-mark .end-ball{
    background: none repeat scroll 0 0 #4169E1;
    border-radius: 50% 50% 50% 50%;
    bottom: 4px;
    height: 20px;
    left: -17px;
    position: absolute;
    width: 20px;
}